# Layer1 Digital Asset API Configuration
LAYER1_ASSET_POOL_ID=14a066e3-00d4-1111-b8ee-37d385a32ad9
LAYER1_CLIENT_ID=20ff4e7d-8f1f-1111-8720-365a73e6f1f5
LAYER1_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvQIBAxxxg=
-----END PRIVATE KEY-----" 